# Fichiers objets (compilation)
*.o

# Exécutable
math_suite

# Fichiers temporaires / éditeur
*~
*.swp
*.swo

# Fichiers d'entrée / sortie (tests)
'/code python/'

# Dossiers générés (si jamais)
build/
dist/

# Logs éventuels
*.log
